.ra-toolbar {
    background-color: $ra-color-content-border;
    height: 40px;
    padding-left: 8px !important;
    padding-top: 5px !important;
    margin-top: 0px !important;
    margin-bottom: 10px !important;
}

.ra-toolbar-label {
    margin-right: 7px;
}

.ra-toolbar-button {
    margin-right: 7px;
}

.ra-toolbar-dropdown {
    margin-right: 7px;
    padding-top: 4px !important;
}

.ra-toolbar-datepicker {
    margin-right: 7px;
    padding-top: 4px !important;
    width: 90px !important;
}