.ra-datagrid-wrapper {
    position: relative;
    border: 1px solid $ra-color-border;
    background: white;
    overflow: hidden;
    padding: 0px;
    margin: 0px;
    /*left: 1px;*/
}

.ra-datagrid-container {
    overflow-y: auto;
    border-top: 38px solid transparent;
    background-color: transparent;
    padding: 0px;
    margin: 0px;
}

td.ra-datagrid-cell + td.ra-datagrid-cell {
    /*border-left: 1px solid $ra-color-border;*/
}

tr.ra-datagrid-row {
    background-color: white;
}

tr.ra-datagrid-row-alt {
    background-color: $ra-color-datagrid-row;
}

tr.ra-datagrid-row-selectable {
    cursor: pointer;
}

tr.ra-datagrid-row-selectable:hover {
    background-color: $ra-color-datagrid-row-selectable-hover;
}

tr.ra-datagrid-row-selected {
    background-color: $ra-color-datagrid-row-selected;
}

tr.ra-datagrid-row-selected:hover {
    background-color: $ra-color-datagrid-row-selected;
}

td.ra-datagrid-cell, th.ra-datagrid-cell-header, td.ra-datagrid-cell-footer {
    border-bottom: 1px solid $ra-color-datagrid-heading; /*$ra-color-border*/
    padding: 10px;
    margin: 0px;
}

thead tr th.ra-datagrid-cell-header,
tfoot tr td.ra-datagrid-cell-footer {
    height: 0;
    line-height: 0;
    margin: 0;
    padding-top: 0;
    padding-bottom: 0;
    color: transparent;
    border: none;
    white-space: nowrap;
}

thead tr th.ra-datagrid-cell-header div,
tfoot tr td.ra-datagrid-cell-footer div {
    position: absolute;
    color: $ra-color-text;
    padding: 10px;
    margin-left: -10px;
    line-height: normal;
    z-index: 2;
    text-align: left;
    font-size: 1em;
    width: 100%;
}

thead tr th.ra-datagrid-cell-header div {
    /*border-left: 0.5px solid $ra-color-border;*/
    background-color: $ra-color-datagrid-heading;
}

tfoot tr td.ra-datagrid-cell-footer div {
    /*border-left: 0.5px solid $ra-color-border;*/
    background-color: $ra-color-datagrid-heading;
}

thead tr th.ra-datagrid-cell-header div {
    top: 0;
}

tfoot tr td.ra-datagrid-cell-footer div {
    bottom: 0;
}

thead tr th:first-child.ra-datagrid-cell-header div,
tfoot tr td:first-child.ra-datagrid-cell-footer div {
    border-left: none;
}

table.sort thead tr th.ra-datagrid-cell-header div {
    cursor: pointer;
}

span.ra-datagrid-sortaria {
    margin-left: 2px;
    font-size: 0.8em;
}