.align-center {
    text-align: center !important;
    margin: auto !important;
}

.align-right {
    text-align: right;
}

.nowrap {
    white-space: nowrap;
}

.invisible {
    display: none;
}

.top-margin-sm {
    margin-top: 10px;
}

.top-margin-med {
    margin-top: 15px;
}

.top-margin-lg {
    margin-top: 20px;
}

.top-margin-xl {
    margin-top: 25px;
}

.bottom-margin-sm {
    margin-bottom: 10px;
}

.bottom-margin-med {
    margin-bottom: 15px;
}

.bottom-margin-lg {
    margin-bottom: 20px;
}

.bottom-margin-xl {
    margin-bottom: 25px;
}

.top-padding-xs {
    padding-top: 5px;
}

.top-padding-sm {
    padding-top: 10px;
}

.top-padding-med {
    padding-top: 15px;
}

.top-padding-lg {
    padding-top: 20px;
}

.top-padding-xl {
    padding-top: 25px;
}

.bottom-padding-sm {
    padding-bottom: 10px;
}

.bottom-padding-med {
    padding-bottom: 15px;
}

.bottom-padding-lg {
    padding-bottom: 20px;
}

.bottom-padding-xl {
    padding-bottom: 25px;
}

.left-padding-xs {
    padding-left: 5px;
}

.left-padding-sm {
    padding-left: 10px;
}

.left-padding-med {
    padding-left: 20px;
}

.left-padding-lg {
    padding-left: 30px;
}

.left-padding-xl {
    padding-left: 40px;
}

.left-margin-xs {
    margin-left: 5px;
}

.left-margin-sm {
    margin-left: 10px;
}

.left-margin-med {
    margin-left: 20px;
}

.left-margin-lg {
    margin-left: 30px;
}

.left-margin-xl {
    margin-left: 40px;
}

.clickable {
    cursor: pointer;
}

.color-error {
    color: red;
}

.color-acceptable {
    color: #02A202;
}

.font-bold {
    font-weight: bold;
}

.ra-loading-table {
    height: 100%;
    width: 100%;
}

.ra-loading-table-cell {
    text-align: center;
    vertical-align: middle;
}

/*.btn span.glyphicon {
    opacity: 0;
}

.btn.active span.glyphicon {
    opacity: 1;
}*/