#ra-report-frame {
    width: 100%;
    border: 1px solid $ra-color-content-border;
}

#ra-report-frame-loading {
    padding-top: 15px;
    padding-left: 15px;
    width: 100%;
    color: $ra-color-text;
    background-color: white;
    border: 1px solid $ra-color-content-border;
}
