@page
@model SampleWebApp.Pages.ModalDialogs.PanelActionModel
@{
}

@using (Html.RABeginContainer(ContainerScrolling.Y))
{
    <h2>Examples</h2>

    <table>
        <tr>
            <td class="ra-padding-bottom-sm ra-padding-right-sm">
                Dialog with Action and Close buttons
            </td>
            <td class="ra-padding-bottom-sm">
                @Html.RAShowModalDialogButton(
                    "Show",
                    "/ModalDialogs/DialogAction?message=This is an action dialog with an associated POST action.",
                    dialogTitle: "Action Dialog",
                    actionButtonCaption: "Action",
                    buttonClass: "btn-primary btn-sm")
            </td>
        </tr>
    </table>
}