@page
@model SampleWebApp.Pages.ModalDialogs.PanelBasicModel
@{
}

@using (Html.RABeginContainer(ContainerScrolling.Y))
{
    <h2>Examples</h2>

    <table>
        <tr>
            <td class="ra-padding-bottom-sm ra-padding-right-sm">
                Small dialog with Close button
            </td>
            <td class="ra-padding-bottom-sm">
                @Html.RAShowModalDialogButton(
                    "Show",
                    "/ModalDialogs/DialogMessage?message=This is a small message dialog.",
                    dialogTitle: "Small Dialog",
                    showActionButton: false,
                    cancelButtonCaption: "Close",
                    buttonClass: "btn-primary btn-sm",
                    dialogSize: RAModalDialogSize.Small)
            </td>
        </tr>
        <tr>
            <td class="ra-padding-bottom-sm ra-padding-right-sm">
                Medium dialog with Close button
            </td>
            <td class="ra-padding-bottom-sm">
                @Html.RAShowModalDialogButton(
                    "Show",
                    "/ModalDialogs/DialogMessage?message=This is a medium message dialog.",
                    dialogTitle: "Medium Dialog",
                    showActionButton: false,
                    cancelButtonCaption: "Close",
                    buttonClass: "btn-primary btn-sm",
                    dialogSize: RAModalDialogSize.Medium)
            </td>
        </tr>
    </table>
}