@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local("Open Sans Bold"), local("OpenSans-Bold"), url(//themes.googleusercontent.com/static/fonts/opensans/v6/k3k702ZOKiLJc3WVjuplzHhCUOGz7vYGh680lGh-uXM.woff) format("woff"); }

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local("Open Sans Light"), local("OpenSans-Light"), url(//themes.googleusercontent.com/static/fonts/opensans/v6/DXI1ORHCpsQm3Vp6mXoaTXhCUOGz7vYGh680lGh-uXM.woff) format("woff"); }

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  src: local("Open Sans Extrabold"), local("OpenSans-Extrabold"), url(//themes.googleusercontent.com/static/fonts/opensans/v6/EInbV5DfGHOiMmvb1Xr-hnhCUOGz7vYGh680lGh-uXM.woff) format("woff"); }

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local("Open Sans Semibold"), local("OpenSans-Semibold"), url(//themes.googleusercontent.com/static/fonts/opensans/v6/MTP_ySUJH_bn48VBG8sNSnhCUOGz7vYGh680lGh-uXM.woff) format("woff"); }

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans"), local("OpenSans"), url(//themes.googleusercontent.com/static/fonts/opensans/v6/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff) format("woff"); }

html {
  width: 100%;
  height: 100%;
  overflow: hidden; }

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: 'Open Sans';
  font-size: 11pt;
  font-weight: normal;
  background-color: dimgray;
  color: #636263; }

table {
  font-family: 'Open Sans';
  font-size: 11pt;
  margin: 0;
  padding: 0;
  border-collapse: separate;
  border-spacing: 0;
  border: 0 none;
  color: #636263; }

tr {
  margin: 0;
  padding: 0; }

td {
  margin: 0;
  padding: 0;
  color: #636263; }

input.form-control {
  background-color: white !important; }

::-webkit-input-placeholder {
  color: #CACACA !important; }

::-moz-placeholder {
  color: #CACACA !important; }

:-ms-input-placeholder {
  color: #CACACA !important; }

:-ms-input-placeholder {
  color: #CACACA !important; }

input[readonly].form-control {
  background-color: white !important; }

input[type=text].form-control,
input[type=password].form-control,
input[type=number].form-control {
  font-size: 11pt;
  height: 32px !important;
  padding-top: 0px !important;
  padding-left: 5px !important;
  padding-bottom: 0px !important;
  margin: 0px !important; }

textarea.form-control {
  font-size: 11pt; }

select.form-control {
  font-size: 11pt !important;
  height: 32px !important;
  padding: 0px !important;
  padding-left: 2px !important;
  margin: 0px !important; }

.validation-summary-errors {
  color: red;
  font-weight: bold; }

.validation-summary-errors::before {
  content: "WHOOPS! "; }

@media (max-width: 600px) {
  body {
    font-size: 12pt; }
  table {
    font-size: 12pt; }
  input[type=text].form-control,
  input[type=password].form-control,
  input[type=number].form-control {
    font-size: 12pt; }
  textarea.form-control {
    font-size: 12pt; }
  select.form-control {
    font-size: 12pt !important; } }

.ra-layout {
  position: fixed;
  top: 0px;
  background-color: transparent;
  width: 100%;
  height: 100%; }

.ra-layout.ra-layout-fixed-width {
  width: 100%; }

.ra-layout.ra-layout-fixed-height {
  height: 100%; }

.ra-layout.ra-layout-fixed-width.ra-layout-fixed-width-center {
  left: calc((100% - 100%) / 2); }

.ra-layout-header {
  position: relative;
  left: 0px;
  top: 0px;
  right: 0px;
  height: 0px;
  display: block;
  background-color: white;
  border-bottom: 1px solid #E1E1E1;
  border-left: 1px solid #E1E1E1;
  border-right: 1px solid #E1E1E1; }

.ra-layout-sidebar {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 290px;
  background-color: white;
  height: calc(100% - 0px);
  overflow: visible;
  display: block;
  z-index: auto; }

.ra-layout-sidebar-toggle-button {
  display: none; }

.ra-layout-navbar {
  position: absolute;
  left: 290px;
  top: 0px;
  right: 0px;
  height: 0px;
  background-color: white;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }

.ra-layout-body {
  position: absolute;
  left: 290px;
  top: calc(0px + 0px);
  right: 0px;
  bottom: 0px;
  overflow: hidden;
  display: block;
  background-color: white; }

@media (max-width: 100%) {
  .ra-layout.ra-layout-fixed-width.ra-layout-fixed-width-center {
    left: 0px; }
  .ra-layout.ra-layout-fixed-width {
    width: 100%; } }

@media (max-width: calc(768px - 1px)) {
  .ra-layout-sidebar {
    display: none; }
  .ra-layout-sidebar-visible {
    display: block;
    z-index: 2; }
  .ra-layout-body {
    left: 0px; }
  .ra-layout-sidebar-toggle-button {
    display: table-cell; } }

.ra-container {
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;
  height: 100%; }

.ra-container.ra-container-padded {
  padding: 20px !important; }

.ra-container-scrollable-x {
  padding-bottom: 10px; }

.ra-container-scrollable-y {
  padding-right: 10px; }

.ra-container-scrollable-both {
  padding-right: 10px;
  padding-bottom: 10px; }

.ra-tabs-header {
  background-image: url(/orbital7-rapidapp/dist/images/ra-tabs-background.png);
  text-align: center;
  height: 48px; }

.ra-tab-header {
  border: 1px solid #DDDDDD;
  color: #636263;
  background-color: #FBFAFB;
  padding: 7px;
  display: inline-block;
  margin: 0px;
  user-select: none; }

.ra-tab-header:hover {
  border: 1px solid #0069d9;
  color: #0069d9;
  cursor: pointer; }

.ra-tab-header-selected {
  color: white;
  border: 1px solid #007bff;
  background-color: #007bff;
  padding: 7px;
  display: inline-block;
  margin: 0px; }

.ra-tabs-content {
  width: 100%;
  height: calc(100% - 1px - 48px); }

.ra-tab-content {
  width: 100%;
  height: 100%; }

.ra-taskbar {
  padding: 15px; }

.ra-taskbar-item {
  font-weight: normal;
  margin-bottom: 5px;
  color: #636263;
  padding: 3px; }

.ra-taskbar-item-selectable {
  cursor: pointer; }

.ra-taskbar-item-selectable:hover {
  background-color: #0069d9;
  color: white; }

.ra-taskbar-item-selected {
  font-weight: bold;
  background-color: #007bff;
  color: white; }

table.ra-datagrid-table {
  border: 1px solid #E1E1E1;
  padding: 0px;
  margin: 0px;
  height: 100%;
  border-collapse: collapse;
  background-color: white; }

table.ra-datagrid-table thead tr th {
  background-color: #F3F2F3;
  text-align: left;
  user-select: none; }

table.sort thead tr th {
  cursor: pointer; }

.ra-datagrid-notsortable {
  cursor: default !important; }

table.ra-datagrid-table tbody {
  overflow-y: hidden;
  overflow-x: hidden;
  height: 100px; }

table.ra-datagrid-table tbody td,
table.ra-datagrid-table thead th {
  padding: 10px;
  margin: 0px;
  vertical-align: middle; }

table.ra-datagrid-table tbody td:last-child,
table.ra-datagrid-table thead th:last-child {
  border-right: none; }

tr.ra-datagrid-row {
  background-color: white; }

tr.ra-datagrid-row-alt {
  background-color: #FBFAFB; }

tr.ra-datagrid-row-selectable {
  cursor: pointer; }

tr.ra-datagrid-row-selected {
  background-color: #BDD6EB; }

tr.ra-datagrid-row > td, th.ra-datagrid-cell-header, td.ra-datagrid-cell-footer {
  border-bottom: 1px solid #F3F2F3; }

thead tr th:first-child.ra-datagrid-cell-header div,
tfoot tr td:first-child.ra-datagrid-cell-footer div {
  border-left: none; }

sup.ra-datagrid-sortaria {
  font-size: 6pt; }

.modal-content {
  background-color: white !important; }

#ra-dialog-modal {
  /*width: 60%;
    max-width: 1000px;*/ }

.ra-dialog-modal-sm {
  max-width: 400px; }

.ra-dialog-modal-med {
  max-width: 550px; }

.ra-dialog-modal-lg {
  max-width: 700px; }

.ra-dialog-modal-full {
  max-width: calc(100% - 50px); }

#ra-dialog-processing {
  margin-right: 20px;
  display: none; }

#ra-dialog-body {
  overflow: hidden;
  min-height: 100px; }

/*@media (max-width: calc(768px - 1px)) {

    .modal-dialog {
        width: 70%;
    }
}*/
@media (max-width: 600px) {
  .ra-dialog-modal-sm {
    max-width: calc(100% - 16px); }
  .ra-dialog-modal-med {
    max-width: calc(100% - 16px); }
  .ra-dialog-modal-lg {
    max-width: calc(100% - 16px); }
  .ra-dialog-modal-full {
    max-width: calc(100% - 16px); } }

.ra-toolbar {
  background-color: #DDDDDD;
  height: 40px !important;
  padding-left: 8px !important;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  margin-top: 0px !important;
  margin-bottom: 10px !important; }

.ra-toolbar-label {
  margin-right: 6px !important;
  font-weight: bold !important;
  font-size: 10pt !important; }

button.ra-toolbar-button {
  margin-right: 8px !important;
  height: 32px !important; }

select.ra-toolbar-dropdown {
  margin-right: 9px !important; }

input[type=text].ra-toolbar-datepicker {
  margin-right: 9px !important;
  width: 100px !important;
  height: 32px !important; }

a {
  color: #007bff;
  text-decoration: none; }

a:hover {
  color: #0069d9;
  text-decoration: underline; }

.ra-btn-xs {
  height: 28px;
  padding-top: 1px; }

.ra-btn-inline {
  height: 26px;
  padding-top: 0px;
  padding-left: 8px;
  margin-right: 10px;
  width: 32px; }

.ra-btn-input {
  height: 32px;
  width: 48px;
  padding-top: 3px; }

.ra-btn-touchinput {
  height: 44px;
  margin-right: 7px;
  width: 56px; }

.ra-btn-add {
  color: palegreen; }

.ra-btn-edit {
  color: lightskyblue; }

.ra-btn-info {
  color: lightskyblue; }

.ra-btn-delete {
  color: palevioletred; }

.ra-btn-add:hover {
  color: palegreen; }

.ra-btn-edit:hover {
  color: lightskyblue; }

.ra-btn-info:hover {
  color: lightskyblue; }

.ra-btn-delete:hover {
  color: palevioletred; }

.ra-dropdown-item {
  cursor: pointer;
  user-select: none;
  font-size: 13pt;
  padding-top: 6px;
  padding-bottom: 6px; }

.ra-btn-theme {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff; }

.ra-btn-theme:hover {
  color: #fff;
  background-color: #0069d9;
  border-color: #0062cc; }

.ra-btn-theme:focus, .ra-btn-theme.focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5); }

.ra-btn-theme.disabled, .ra-btn-theme:disabled {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff; }

.ra-btn-theme:not(:disabled):not(.disabled):active, .ra-btn-theme:not(:disabled):not(.disabled).active,
.show > .ra-btn-theme.dropdown-toggle {
  color: #fff;
  background-color: #0062cc;
  border-color: #005cbf; }

.ra-btn-theme:not(:disabled):not(.disabled):active:focus, .ra-btn-theme:not(:disabled):not(.disabled).active:focus,
.show > .ra-btn-theme.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5); }

.ra-btn-outline-theme {
  color: #007bff;
  border-color: #007bff; }

.ra-btn-outline-theme:hover {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff; }

.ra-btn-outline-theme:focus, .ra-btn-outline-theme.focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5); }

.ra-btn-outline-theme.disabled, .ra-btn-outline-theme:disabled {
  color: #007bff;
  background-color: transparent; }

.ra-btn-outline-theme:not(:disabled):not(.disabled):active, .ra-btn-outline-theme:not(:disabled):not(.disabled).active,
.show > .ra-btn-outline-theme.dropdown-toggle {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff; }

.ra-btn-outline-theme:not(:disabled):not(.disabled):active:focus, .ra-btn-outline-theme:not(:disabled):not(.disabled).active:focus,
.show > .ra-btn-outline-theme.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5); }

.pretty input:checked ~ .state.ra-p-theme label:after,
.pretty.p-toggle .state.ra-p-theme label:after {
  background-color: #007bff !important; }

.pretty input:checked ~ .state.ra-p-theme .icon,
.pretty input:checked ~ .state.ra-p-theme .svg,
.pretty.p-toggle .state.ra-p-theme .icon,
.pretty.p-toggle .state.ra-p-theme .svg {
  color: #fff;
  stroke: #fff; }

.pretty input:checked ~ .state.ra-p-theme-o label:before,
.pretty.p-toggle .state.ra-p-theme-o label:before {
  border-color: #007bff; }

.pretty input:checked ~ .state.ra-p-theme-o label:after,
.pretty.p-toggle .state.ra-p-theme-o label:after {
  background-color: transparent; }

.pretty input:checked ~ .state.ra-p-theme-o .icon,
.pretty input:checked ~ .state.ra-p-theme-o .svg,
.pretty input:checked ~ .state.ra-p-theme-o svg,
.pretty.p-toggle .state.ra-p-theme-o .icon,
.pretty.p-toggle .state.ra-p-theme-o .svg,
.pretty.p-toggle .state.ra-p-theme-o svg {
  color: #007bff;
  stroke: #007bff; }

.pretty.p-default:not(.p-fill) input:checked ~ .state.ra-p-theme-o label:after {
  background-color: #007bff !important; }

.pretty.p-switch input:checked ~ .state.ra-p-theme:before {
  border-color: #007bff; }

.pretty.p-switch.p-fill input:checked ~ .state.ra-p-theme:before {
  background-color: #007bff !important; }

.pretty.p-switch.p-slim input:checked ~ .state.ra-p-theme:before {
  border-color: #007bff;
  background-color: #007bff !important; }

.ra-badge {
  font-size: 9pt; }

.ra-align-center {
  text-align: center !important;
  margin: auto !important; }

.ra-align-left {
  text-align: left; }

.ra-align-right {
  text-align: right; }

.ra-verticalalign-top {
  vertical-align: top; }

.ra-verticalalign-middle {
  vertical-align: middle; }

.ra-verticalalign-bottom {
  vertical-align: bottom; }

.ra-nowrap {
  white-space: nowrap; }

.ra-hide {
  display: none; }

.ra-margin-top-xs {
  margin-top: 5px; }

.ra-margin-top-sm {
  margin-top: 10px; }

.ra-margin-top-med {
  margin-top: 15px; }

.ra-margin-top-lg {
  margin-top: 20px; }

.ra-margin-top-xl {
  margin-top: 25px; }

.ra-margin-bottom-xs {
  margin-bottom: 10px; }

.ra-margin-bottom-sm {
  margin-bottom: 10px; }

.ra-margin-bottom-med {
  margin-bottom: 15px; }

.ra-margin-bottom-lg {
  margin-bottom: 20px; }

.ra-margin-bottom-xl {
  margin-bottom: 25px; }

.ra-padding-top-xs {
  padding-top: 5px; }

.ra-padding-top-sm {
  padding-top: 10px; }

.ra-padding-top-med {
  padding-top: 15px; }

.ra-padding-top-lg {
  padding-top: 20px; }

.ra-padding-top-xl {
  padding-top: 25px; }

.ra-padding-bottom-xs {
  padding-bottom: 5px; }

.ra-padding-bottom-sm {
  padding-bottom: 10px; }

.ra-padding-bottom-med {
  padding-bottom: 15px; }

.ra-padding-bottom-lg {
  padding-bottom: 20px; }

.ra-padding-bottom-xl {
  padding-bottom: 25px; }

.ra-padding-left-xs {
  padding-left: 5px; }

.ra-padding-left-sm {
  padding-left: 10px; }

.ra-padding-left-med {
  padding-left: 20px; }

.ra-padding-left-lg {
  padding-left: 30px; }

.ra-padding-left-xl {
  padding-left: 40px; }

.ra-margin-left-xs {
  margin-left: 5px; }

.ra-margin-left-sm {
  margin-left: 10px; }

.ra-margin-left-med {
  margin-left: 20px; }

.ra-margin-left-lg {
  margin-left: 30px; }

.ra-margin-left-xl {
  margin-left: 40px; }

.ra-padding-right-xs {
  padding-right: 5px; }

.ra-padding-right-sm {
  padding-right: 10px; }

.ra-padding-right-med {
  padding-right: 20px; }

.ra-padding-right-lg {
  padding-right: 30px; }

.ra-padding-right-xl {
  padding-right: 40px; }

.ra-margin-right-xs {
  margin-right: 5px; }

.ra-margin-right-sm {
  margin-right: 10px; }

.ra-margin-right-med {
  margin-right: 20px; }

.ra-margin-right-lg {
  margin-right: 30px; }

.ra-margin-right-xl {
  margin-right: 40px; }

.ra-clickable {
  cursor: pointer; }

.ra-color-error {
  color: red; }

.ra-color-white {
  color: white; }

.ra-background-color-white {
  background-color: white; }

.ra-color-acceptable {
  color: #02A202; }

.ra-font-sm {
  font-size: 9pt; }

.ra-font-bold {
  font-weight: bold; }

.ra-font-italic {
  font-style: italic; }

.ra-loading-table {
  height: 100%;
  width: 100%; }

.ra-loading-table-cell {
  text-align: center;
  vertical-align: middle; }

.ra-div-disabled {
  position: absolute;
  z-index: 500;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: darkgray;
  opacity: 0.3; }

.ra-border {
  border: 1px solid #DDDDDD; }

.ra-banner {
  background-color: #007bff;
  color: white; }

.ra-propertyblock-display {
  margin-bottom: 12px; }

.ra-propertyblock-field-label {
  font-weight: bold;
  margin-bottom: 1px;
  font-size: 8pt;
  text-transform: uppercase; }

.ra-propertyblock-editor {
  margin-bottom: 12px; }

.ra-propertyblock-field-editor {
  margin-top: 3px; }

.ra-validation-error {
  font-weight: bold;
  font-size: 7pt;
  color: red; }

.ra-description-info {
  font-style: italic;
  font-size: 7pt; }

table.ra-propertyblock-table tr td {
  padding-right: 40px;
  vertical-align: top;
  max-width: 400px;
  padding-top: 10px; }

table.ra-propertyblock-table tr th {
  padding-right: 40px;
  vertical-align: top;
  border-bottom: 1px solid #636263;
  color: #007bff;
  padding-bottom: 5px;
  font-size: 11pt;
  font-weight: normal; }

table.ra-dynamictable {
  margin-top: 5px;
  margin-bottom: 2px;
  font-size: 1.1em; }

table.ra-dynamictable tr td {
  padding-top: 3px;
  padding-bottom: 5px;
  padding-left: 5px; }

table.ra-dynamictable tr th {
  padding-top: 3px;
  padding-bottom: 5px;
  padding-left: 5px;
  font-size: 0.9em; }

table.ra-statictable {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 1.1em; }

table.ra-statictable tr td {
  padding-top: 3px;
  padding-bottom: 8px;
  padding-left: 5px; }

#ra-report-frame {
  width: 100%;
  border: 1px solid #DDDDDD; }

#ra-report-frame-loading {
  padding-top: 15px;
  padding-left: 15px;
  width: 100%;
  color: #636263;
  background-color: white;
  border: 1px solid #DDDDDD; }

.ra-dashboard-cell-noitems {
  font-style: italic; }

.ra-dashboard-heading {
  font-size: 1.8em;
  font-weight: normal;
  padding-top: 30px;
  padding-bottom: 10px;
  text-transform: uppercase;
  font-weight: bold; }

.ra-dashboard-cell-value-upper {
  -webkit-border-top-left-radius: 10px;
  -moz-border-radius-topleft: 10px;
  border-top-left-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  -moz-border-radius-topright: 10px;
  border-top-right-radius: 10px;
  border-top: 1px solid #C0C0C0;
  border-left: 1px solid #C0C0C0;
  border-right: 1px solid #C0C0C0;
  font-size: 5.5em;
  font-weight: bold;
  height: 80px;
  vertical-align: middle;
  text-align: center;
  color: black;
  width: 200px;
  padding: 0; }

.ra-dashboard-cell-value-lower {
  -webkit-border-bottom-left-radius: 10px;
  -moz-border-radius-bottomleft: 10px;
  border-bottom-left-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
  -moz-border-radius-bottomright: 10px;
  border-bottom-right-radius: 10px;
  border-bottom: 1px solid #C0C0C0;
  border-left: 1px solid #C0C0C0;
  border-right: 1px solid #C0C0C0;
  font-size: 1.2em;
  font-weight: bold;
  height: 60px;
  color: black;
  vertical-align: top;
  text-align: center;
  width: 200px;
  padding-left: 10px;
  padding-right: 10px; }

.ra-dashboard-cell-spacer {
  width: 30px; }

.ra-dashboard-cell-good {
  background-color: #80FF80; }

.ra-dashboard-cell-warning {
  background-color: #FE9C44; }

.ra-dashboard-cell-bad {
  background-color: #FF6161; }

/* Source: https://www.abeautifulsite.net/bootstrap-4-switches */
/*map-get($theme-colors, 'primary') !default;*/
/*$custom-control-description-disabled-color*/
/*0 0 0 $input-btn-focus-width rgba(map-get($theme-colors, 'primary'), .25);*/
.switch {
  font-size: 1rem;
  position: relative; }
  .switch input {
    position: absolute;
    height: 1px;
    width: 1px;
    background: none;
    border: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    overflow: hidden;
    padding: 0; }
    .switch input + label {
      position: relative;
      min-width: calc(calc(calc(1.5em + 0.75rem + 2px) * .8) * 2);
      border-radius: calc(calc(1.5em + 0.75rem + 2px) * .8);
      height: calc(calc(1.5em + 0.75rem + 2px) * .8);
      line-height: calc(calc(1.5em + 0.75rem + 2px) * .8);
      display: inline-block;
      cursor: pointer;
      outline: none;
      user-select: none;
      vertical-align: middle;
      text-indent: calc(calc(calc(calc(1.5em + 0.75rem + 2px) * .8) * 2) + .5rem); }
    .switch input + label::before,
    .switch input + label::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: calc(calc(calc(1.5em + 0.75rem + 2px) * .8) * 2);
      bottom: 0;
      display: block; }
    .switch input + label::before {
      right: 0;
      background-color: #fff;
      border-radius: calc(calc(1.5em + 0.75rem + 2px) * .8);
      transition: 0.2s all; }
    .switch input + label::after {
      top: 2px;
      left: 2px;
      width: calc(calc(calc(1.5em + 0.75rem + 2px) * .8) - calc(2px * 2));
      height: calc(calc(calc(1.5em + 0.75rem + 2px) * .8) - calc(2px * 2));
      border-radius: 50%;
      background-color: #fff;
      transition: 0.2s all; }
    .switch input:checked + label::before {
      background-color: #007bff; }
    .switch input:checked + label::after {
      margin-left: calc(calc(1.5em + 0.75rem + 2px) * .8); }
    .switch input:focus + label::before {
      outline: none;
      box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25); }
    .switch input:disabled + label {
      color: #868e96;
      cursor: not-allowed; }
    .switch input:disabled + label::before {
      background-color: #e9ecef; }
  .switch.switch-sm {
    font-size: 0.875rem; }
    .switch.switch-sm input + label {
      min-width: calc(calc(calc(1.5em + 0.5rem + 2px) * .8) * 2);
      height: calc(calc(1.5em + 0.5rem + 2px) * .8);
      line-height: calc(calc(1.5em + 0.5rem + 2px) * .8);
      text-indent: calc(calc(calc(calc(1.5em + 0.5rem + 2px) * .8) * 2) + .5rem); }
    .switch.switch-sm input + label::before {
      width: calc(calc(calc(1.5em + 0.5rem + 2px) * .8) * 2); }
    .switch.switch-sm input + label::after {
      width: calc(calc(calc(1.5em + 0.5rem + 2px) * .8) - calc(2px * 2));
      height: calc(calc(calc(1.5em + 0.5rem + 2px) * .8) - calc(2px * 2)); }
    .switch.switch-sm input:checked + label::after {
      margin-left: calc(calc(1.5em + 0.5rem + 2px) * .8); }
  .switch.switch-lg {
    font-size: 1.25rem; }
    .switch.switch-lg input + label {
      min-width: calc(calc(calc(1.5em + 1rem + 2px) * .8) * 2);
      height: calc(calc(1.5em + 1rem + 2px) * .8);
      line-height: calc(calc(1.5em + 1rem + 2px) * .8);
      text-indent: calc(calc(calc(calc(1.5em + 1rem + 2px) * .8) * 2) + .5rem); }
    .switch.switch-lg input + label::before {
      width: calc(calc(calc(1.5em + 1rem + 2px) * .8) * 2); }
    .switch.switch-lg input + label::after {
      width: calc(calc(calc(1.5em + 1rem + 2px) * .8) - calc(2px * 2));
      height: calc(calc(calc(1.5em + 1rem + 2px) * .8) - calc(2px * 2)); }
    .switch.switch-lg input:checked + label::after {
      margin-left: calc(calc(1.5em + 1rem + 2px) * .8); }
  .switch + .switch {
    margin-left: 1rem; }
