$ra-layout-max-width: 100%;
$ra-layout-max-height: 100%;
$ra-layout-min-width-for-sidebar: 768px;
$ra-layout-sidebar-width: 290px;
$ra-layout-header-height: 0px;
$ra-layout-navbar-height: 0px;
$ra-layout-container-padding: 20px;

$ra-color-page: dimgray;
$ra-color-background: white;
$ra-color-border: #E1E1E1;
$ra-color-text: #636263;
$ra-color-header-background: white;
$ra-color-header-border: $ra-color-border;
$ra-color-content-border: #DDDDDD;
$ra-color-datagrid-heading: #F3F2F3;
$ra-color-datagrid-row: #FBFAFB;
$ra-color-datagrid-row-selected: #BDD6EB;
$ra-color-nav-selectable: #337ab7;
$ra-color-nav-hover: #286090;
$ra-color-nav-selected: #204d74;
