<div id="ra-dialog" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="ra-dialog-title">
    <div class="modal-dialog" role="document">
        <div id="ra-dialog-modal-content" class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="ra-dialog-title">TITLE</h4>
                <button id="ra-dialog-cancelbutton-corner"
                        type="button"
                        class="close"
                        onclick="closeModalDialog(event);"
                        aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <input type="hidden" id="ra-dialog-returnaction" />
            </div>
            <div class="modal-body" id="ra-dialog-body">
                BODY
            </div>
            <div class="modal-footer">
                <span id="ra-dialog-processing" style="display: none;">
                    <img src="/orbital7-rapidapp/dist/images/spinners/ra-spinner-sm.gif" /> Processing...
                </span>
                <button type="button"
                        class="btn btn-secondary btn-lg"
                        id="ra-dialog-cancelbutton"
                        onclick="closeModalDialog(event);">
                    CANCEL
                </button>
                <button type="button"
                        class="btn btn-primary btn-lg"
                        id="ra-dialog-actionbutton"
                        onmouseup="submitModalDialog(event);">
                    ACTION
                </button>
            </div>
        </div>
    </div>
</div>

<div class="ra-layout-minimum-size">
    <div class="ra-layout-minimum-size-title">Display Too Small</div>
    <div class="ra-layout-minimum-size-message">Please rotate your device or increase your window size</div>
</div>