@model bool

@if (this.Model)
{
    <div id="ra-touchdialog-background-middle" 
         class="ra-touchdialog-background" 
         style="display: none;"
         onmousedown="event.stopPropagation();"></div>
    <div id="ra-touchdialog-background-top" 
         class="ra-touchdialog-background" 
         style="display: none;"
         onmousedown="event.stopPropagation();"></div>
    <div id="ra-touchdialog-background-bottom" 
         class="ra-touchdialog-background" 
         style="display: none;"
         onmousedown="event.stopPropagation();"></div>
    <div id="ra-touchdialog-container" 
         style="display: none;"
         onmousedown="event.stopPropagation();"></div>
}