table.ra-dynamictable {
    margin-top: 5px;
    margin-bottom: 2px;
    font-size: 1.1em;
}

table.ra-dynamictable tr th {
    padding-top: 3px;
    padding-bottom: 5px;
    padding-left: 5px;
    font-size: 0.9em;
}

table.ra-dynamictable tr td {
    padding-top: 3px;
    padding-bottom: 5px;
    padding-left: 5px;
}