.ra-layout-sidebar-toggle-button {
    display: none;
}

.ra-layout-sidebar {
    height: 100%;
    z-index: 99;
}

.ra-layout-sectionbar {
    height: 100vh;
    padding-left: 5px;
    padding-right: 5px;
    min-width: 86px;
}

.ra-sectionbar-divider {
    border-top: 2px solid gray;
}

.ra-layout-taskbar {
    width: 210px;
    height: 100vh;
    display: block;
    background-color: #F2F4F8;
}

@media (max-width: 768px) {

    .ra-layout-sidebar {
        display: none;
        position: absolute;
    }

    .ra-layout-sidebar-visible {
        display: block;
    }

    .ra-layout-sidebar-toggle-button {
        display: table-cell;
    }
}