.ra-layout-sidebar-toggle-button {
    display: none;
}

.ra-layout-sidebar {
    height: 100%;
    z-index: 99;
}

.ra-layout-sectionbar {
    height: 100vh;
    min-width: 86px;
}

.ra-sectionbar-divider {
    border-top: 2px solid gray;
}

.ra-sectionbar-item {
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 5px;
    font-size: 12px;
    color: white;
    display: block;
}

.ra-sectionbar-item:hover {
    background-color: var(--ra-color-actor-hover);
    color: white;
    text-decoration: none;
}

.ra-layout-taskbar {
    width: 210px;
    height: 100vh;
    display: block;
    background-color: #F2F4F8;
}

@media (max-width: 768px) {

    .ra-layout-sidebar {
        display: none;
        position: absolute;
    }

    .ra-layout-sidebar-visible {
        display: block;
    }

    .ra-layout-sidebar-toggle-button {
        display: table-cell;
    }
}