.ra-propertyblock-display-column {
    text-align: left;
    vertical-align: top;
    padding-right: 40px;
    max-width: 400px;
}

.ra-propertyblock-display {
    margin-bottom: 12px;
}

.ra-propertyblock-field-label {
    font-weight: bold;
    margin-bottom: 1px;
    font-size: 73%;
    text-transform: uppercase;
}

.ra-propertyblock-field-value {
    
}

.ra-propertyblock-editor {
    margin-bottom: 12px;
}

.ra-propertyblock-field-editor {
    margin-top: 3px;
}

.ra-validation-error {
    font-weight: bold;
    font-size: 64%;
    color: red;
}

.ra-description-info {
    font-style: italic;
    font-size: 64%;
}

table.ra-propertyblock-table tr td {
    padding-right: 40px;
    vertical-align: top;
    max-width: 400px;
    padding-top: 10px;
}

table.ra-propertyblock-table tr th {
    padding-right: 40px;
    vertical-align: top;
    border-bottom: 1px solid var(--ra-color-text, $ra-color-text-default);
    color: var(--ra-color-actor-selectable, $ra-color-actor-selectable-default);
    padding-bottom: 5px;
    font-size: var(--ra-font-size, $ra-font-size);
    font-weight: normal;
}