.ra-dashboard-table {
    
}

.ra-dashboard-cell-noitems {
    font-style: italic;
}

.ra-dashboard-heading {
    font-size: 1.8em;
    font-weight: normal;
    padding-top: 30px;
    padding-bottom: 10px;
    text-transform: uppercase;
    font-weight: bold;
}

.ra-dashboard-cell-value-upper {
    @include border-top-left-radius(10px);
    @include border-top-right-radius(10px);
    border-top: 1px solid #C0C0C0;
    border-left: 1px solid #C0C0C0;
    border-right: 1px solid #C0C0C0;
    font-size: 5.5em;
    font-weight: bold;
    height: 80px;
    vertical-align: middle;
    text-align: center;
    color: black;
    width: 200px;
    padding: 0;
}

.ra-dashboard-cell-value-lower {
    @include border-bottom-left-radius(10px);
    @include border-bottom-right-radius(10px);
    border-bottom: 1px solid #C0C0C0;
    border-left: 1px solid #C0C0C0;
    border-right: 1px solid #C0C0C0;
    font-size: 1.2em;
    font-weight: bold;
    height: 60px;
    color: black;
    vertical-align: top;
    text-align: center;
    width: 200px;
    padding-left: 10px;
    padding-right: 10px;
}

.ra-dashboard-cell-spacer {
    width: 30px;
}

.ra-dashboard-cell-good {
    background-color: #80FF80;
}

.ra-dashboard-cell-warning {
    background-color: #FE9C44;
}

.ra-dashboard-cell-bad {
    background-color: #FF6161;
}