html {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Open Sans';
    font-size: 1.3em;
    font-weight: normal;
    background-color: $ra-color-background;
    color: $ra-color-text;
}

table {
    font-family: 'Open Sans';
    font-size: 1em;
    margin: 0;
    padding: 0;
    border-collapse: separate;
    border-spacing: 0;
    border: 0 none;
    color: $ra-color-text;
}

tr {
    margin: 0;
    padding: 0;
}

td {
    margin: 0;
    padding: 0;
    color: $ra-color-text;
}

input {
    background-color: white;
}

input[readonly] {
    background-color: white;
}