a {
    color: var(--ra-color-actor-selectable, $ra-color-actor-selectable-default);
    text-decoration: none;
}

a:hover {
    color: var(--ra-color-actor-hover, $ra-color-actor-hover-default);
    text-decoration: underline;
}

.ra-btn-xs {
    height: 28px;
    padding-top: 1px;
}

.ra-btn-inline {
    height: 26px;
    padding-top: 0px;
    padding-left: 8px;
    margin-right: 10px;
    width: 32px;
}

.ra-btn-input {
    height: 32px;
    width: 48px;
    padding-top: 3px;
}

.ra-btn-touchinput {
    height: 44px;
    margin-right: 7px;
    width: 56px;
}

.ra-btn-add {
    color: palegreen;
}

.ra-btn-edit {
    color: lightskyblue;
}

.ra-btn-info {
    color: lightskyblue;
}

.ra-btn-delete {
    color: palevioletred;
}

.ra-btn-add:hover {
    color: palegreen;
}

.ra-btn-edit:hover {
    color: lightskyblue;
}

.ra-btn-info:hover {
    color: lightskyblue;
}

.ra-btn-delete:hover {
    color: palevioletred;
}

.ra-dropdown-item {
    cursor: pointer;
    user-select: none;
    font-size: 13pt;
    padding-top: 6px;
    padding-bottom: 6px;
}

.ra-btn-theme {
    color: #fff;
    background-color: var(--ra-color-actor-selectable, $ra-color-actor-selectable-default);
    border-color: var(--ra-color-actor-selectable, $ra-color-actor-selectable-default);
}

.ra-btn-theme:hover {
    color: #fff;
    background-color: var(--ra-color-actor-hover, $ra-color-actor-hover-default);
    border-color: var(--ra-color-actor-hover, $ra-color-actor-hover-default);
}

.ra-btn-theme:focus, .ra-btn-theme.focus {
    box-shadow: 0 0 0 0.2rem RGBA(var(--ra-color-actor-selectable, $ra-color-actor-selectable-default), 0.5);
}

.ra-btn-theme.disabled, .ra-btn-theme:disabled {
    color: #fff;
    background-color: var(--ra-color-actor-selectable, $ra-color-actor-selectable-default);
    border-color: var(--ra-color-actor-selectable, $ra-color-actor-selectable-default);
}

.ra-btn-theme:not(:disabled):not(.disabled):active, .ra-btn-theme:not(:disabled):not(.disabled).active,
.show > .ra-btn-theme.dropdown-toggle {
    color: #fff;
    background-color: var(--ra-color-actor-disabled, $ra-color-actor-disabled-default);
    border-color: var(--ra-color-actor-disabled, $ra-color-actor-disabled-default);
}

.ra-btn-theme:not(:disabled):not(.disabled):active:focus, .ra-btn-theme:not(:disabled):not(.disabled).active:focus,
.show > .ra-btn-theme.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem RGBA(var(--ra-color-actor-selectable, $ra-color-actor-selectable-default), 0.5);
}

.ra-btn-outline-theme {
    color: var(--ra-color-actor-selectable, $ra-color-actor-selectable-default);
    border-color: var(--ra-color-actor-selectable, $ra-color-actor-selectable-default);
}

.ra-btn-outline-theme:hover {
    color: #fff;
    background-color: var(--ra-color-actor-selectable, $ra-color-actor-selectable-default);
    border-color: var(--ra-color-actor-selectable, $ra-color-actor-selectable-default);
}

.ra-btn-outline-theme:focus, .ra-btn-outline-theme.focus {
    box-shadow: 0 0 0 0.2rem RGBA(var(--ra-color-actor-selectable, $ra-color-actor-selectable-default), 0.5);
}

.ra-btn-outline-theme.disabled, .ra-btn-outline-theme:disabled {
    color: var(--ra-color-actor-selectable, $ra-color-actor-selectable-default);
    background-color: transparent;
}

.ra-btn-outline-theme:not(:disabled):not(.disabled):active, .ra-btn-outline-theme:not(:disabled):not(.disabled).active,
.show > .ra-btn-outline-theme.dropdown-toggle {
    color: #fff;
    background-color: var(--ra-color-actor-selectable, $ra-color-actor-selectable-default);
    border-color: var(--ra-color-actor-selectable, $ra-color-actor-selectable-default);
}

.ra-btn-outline-theme:not(:disabled):not(.disabled):active:focus, .ra-btn-outline-theme:not(:disabled):not(.disabled).active:focus,
.show > .ra-btn-outline-theme.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem RGBA(var(--ra-color-actor-selectable, $ra-color-actor-selectable-default), 0.5);
}

.pretty input:checked ~ .state.ra-p-theme label:after,
.pretty.p-toggle .state.ra-p-theme label:after {
    background-color: var(--ra-color-actor-selectable, $ra-color-actor-selectable-default) !important;
}

.pretty input:checked ~ .state.ra-p-theme .icon,
.pretty input:checked ~ .state.ra-p-theme .svg,
.pretty.p-toggle .state.ra-p-theme .icon,
.pretty.p-toggle .state.ra-p-theme .svg {
    color: #fff;
    stroke: #fff;
}

.pretty input:checked ~ .state.ra-p-theme-o label:before,
.pretty.p-toggle .state.ra-p-theme-o label:before {
    border-color: var(--ra-color-actor-selectable, $ra-color-actor-selectable-default);
}

.pretty input:checked ~ .state.ra-p-theme-o label:after,
.pretty.p-toggle .state.ra-p-theme-o label:after {
    background-color: transparent;
}

.pretty input:checked ~ .state.ra-p-theme-o .icon,
.pretty input:checked ~ .state.ra-p-theme-o .svg,
.pretty input:checked ~ .state.ra-p-theme-o svg,
.pretty.p-toggle .state.ra-p-theme-o .icon,
.pretty.p-toggle .state.ra-p-theme-o .svg,
.pretty.p-toggle .state.ra-p-theme-o svg {
    color: var(--ra-color-actor-selectable, $ra-color-actor-selectable-default);
    stroke: var(--ra-color-actor-selectable, $ra-color-actor-selectable-default);
}

.pretty.p-default:not(.p-fill) input:checked ~ .state.ra-p-theme-o label:after {
    background-color: var(--ra-color-actor-selectable, $ra-color-actor-selectable-default) !important;
}

.pretty.p-switch input:checked ~ .state.ra-p-theme:before {
    border-color: var(--ra-color-actor-selectable, $ra-color-actor-selectable-default);
}

.pretty.p-switch.p-fill input:checked ~ .state.ra-p-theme:before {
    background-color: var(--ra-color-actor-selectable, $ra-color-actor-selectable-default) !important;
}

.pretty.p-switch.p-slim input:checked ~ .state.ra-p-theme:before {
    border-color: var(--ra-color-actor-selectable, $ra-color-actor-selectable-default);
    background-color: var(--ra-color-actor-selectable, $ra-color-actor-selectable-default) !important;
}