.ra-headertable {
    width: 100%;
    margin-bottom: 20px;
}

.ra-headertable-cell-sidebarbutton {
    width: 56px;
    height: 38px;
    vertical-align: middle;
    text-align: left;
}

.ra-headertable-cell-titlebar {
    text-align: left;
    vertical-align: middle;
    height: 38px;
    font-size: 21px;
    font-weight: bold;
}

.ra-headertable-cell-logo {
    text-align: right;
    vertical-align: middle;
    height: 38px;
}