#ra-report-frame {
    width: 100%;
    border: 1px solid var(--ra-color-content-border, $ra-color-content-border-default);
}

#ra-report-frame-loading {
    padding-top: 15px;
    padding-left: 15px;
    width: 100%;
    color: var(--ra-color-text, $ra-color-text-default);
    background-color: white;
    border: 1px solid var(--ra-color-content-border, $ra-color-content-border-default);
}
