a.ra-glyphbutton {
    border: 1px solid transparent;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 4px;
    padding-right: 4px;
    font-size: 1.05em;
    cursor: pointer;
    color: $ra-color-text;
    @include border-radius(3px);
}

a.ra-glyphbutton:hover {
    color: $ra-color-content-border;
    text-decoration: none;
}

a.ra-glyphbutton:active {
    border: 1px solid $ra-color-content-border;
    background-color: $ra-color-background;
}

.ra-glyphbutton-sm {
    font-size: 0.8em;
}

.ra-glyphbutton-lg {
    font-size: 1.2em;
}

a.ra-glyphbutton-green {
    color: darkgreen;
}

a.ra-glyphbutton-green:hover {
    color: green !important;
}

a.ra-glyphbutton-red {
    color: darkred;
}

a.ra-glyphbutton-red:hover {
    color: red !important;
}

span.ra-glyphbutton-text {
    padding-left: 3px;
}