.ra-taskbar {
    padding: 15px;
}

.ra-taskbar-item {
    font-weight: normal;
    margin-bottom: 5px;
    color: var(--ra-color-text, $ra-color-text-default);
    padding: 3px;
}

.ra-taskbar-item-selectable {
    cursor: pointer;
}

.ra-taskbar-item-selectable:hover {
    background-color: var(--ra-color-actor-hover, $ra-color-actor-hover-default);
    color: white;
}

.ra-taskbar-item-selected {
    font-weight: bold;
    background-color: var(--ra-color-actor-selectable, $ra-color-actor-selectable-default);
    color: white;
}