$ra-color-text-default: #636263;
$ra-color-content-border-default: #DDDDDD;
$ra-color-actor-selectable-default: #007bff;
$ra-color-actor-hover-default: #0069d9;
$ra-color-actor-hover-border-default: #0062cc;
$ra-color-actor-disabled-default: #0062cc;
$ra-color-actor-disabled-border-default: #005cbf;
$ra-font-size: 15px;

html {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: var(--ra-font-family);
    font-size: var(--ra-font-size, $ra-font-size);
    font-weight: normal;
    background-color: var(--ra-color-page-background, white);
    color: var(--ra-color-text, $ra-color-text-default);
}

table {
    font-family: var(--ra-font-family);
    font-size: var(--ra-font-size, $ra-font-size);
    margin: 0;
    padding: 0;
    border-collapse: separate;
    border-spacing: 0;
    border: 0 none;
    color: var(--ra-color-text, $ra-color-text-default);
}

tr {
    margin: 0;
    padding: 0;
}

td {
    margin: 0;
    padding: 0;
    color: var(--ra-color-text, $ra-color-text-default);
}

/* width */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    -webkit-appearance: none;
}

/* Track */
::-webkit-scrollbar-track {
    background: white;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #999999;
    border-radius: 5px !important;
    border: 2px solid white;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #737373;
}

input.form-control {
    background-color: white !important;
}

.form-control:focus {
    border-color: var(--ra-color-actor-selectable, $ra-color-actor-selectable-default);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(6, 179, 187, 0.6);
}

::-webkit-input-placeholder {
    color: #CACACA !important;
}

::-moz-placeholder {
    color: #CACACA !important;
}

:-ms-input-placeholder {
    color: #CACACA !important;
}

:-ms-input-placeholder {
    color: #CACACA !important;
}

input[readonly].form-control {
    background-color: white !important;
}

input[type=text].form-control,
input[type=password].form-control,
input[type=number].form-control {
    font-size: var(--ra-font-size, $ra-font-size);
    height: 32px;
    padding-top: 0px;
    padding-left: 5px;
    padding-bottom: 0px;
    margin: 0px;
}

textarea.form-control {
    font-size: var(--ra-font-size, $ra-font-size);
}

select.form-control {
    font-size: var(--ra-font-size, $ra-font-size);
    height: 32px;
    padding: 0px;
    padding-left: 2px;
    margin: 0px;
}

.validation-summary-errors {
    color: red;
    font-weight: bold;
}

.validation-summary-errors::before {
    content: "WHOOPS! "
}

/*@media (max-width: 600px) {

    body {
        font-size: 12pt;
    }

    table {
        font-size: 12pt;
    }

    input[type=text].form-control,
    input[type=password].form-control,
    input[type=number].form-control {
        font-size: 12pt;
    }

    textarea.form-control {
        font-size: 12pt;
    }

    select.form-control {
        font-size: 12pt;
    }
}*/