$ra-subtab-header-height: 40px;

.ra-subtabs-header {
    background-image: url(/Images/SubTabsBackground.png);
    text-align: center;
    margin-bottom: 20px;
}

.ra-subtab-header {
    border: 1px solid $ra-color-content-border;
    color: $ra-color-text;
    background-color: $ra-color-datagrid-row;
    font-weight: 1.1em;
    padding: 7px;
    display: inline-block;
    margin: 0px;
}

.ra-subtab-header:hover {
    border: 1px solid $ra-color-nav-hover;
    color: $ra-color-nav-hover;
    cursor: pointer;
}

.ra-subtab-header-selected {
    color: white;
    border: 1px solid $ra-color-nav-selected;
    background-color: $ra-color-nav-selectable;
    padding: 7px;
    display: inline-block;
    margin: 0px;
}

.ra-subtabs-content {
    overflow: auto;
    padding-right: 15px;
}
