/* Defaults */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    -webkit-appearance: none;
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--bs-dark-bg-subtle);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--bs-tertiary-color);
    border-radius: 5px !important;
    border: 3px solid var(--bs-dark-bg-subtle);
}

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #737373;
    }


/* Layout */

.ra-flex-body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.ra-flex-container-scrollable-wrapper {
    flex-grow: 1;
    overflow: auto;
    min-height: 0;
}

.ra-flex-container {
    display: flex;
    flex: 1;
    flex-direction: column;
    min-height: 0;
    height: 100%;
}

.ra-flex-columns-scrollable-wrapper {
    flex-grow: 1;
    overflow-x: auto;
    min-height: 0;
    min-width: 0;
}

.ra-flex-columns {
    display: flex;
    flex: 1;
    flex-direction: row;
    min-width: 0;
    min-height: 0;
    /*width: 100%;
    height: 100%;*/
    gap: 30px;
}

.ra-flex-nostretch {
    align-self: flex-start;
}

.ra-scrollable-x {
    overflow-x: auto;
}

.ra-scrollable-y {
    overflow-y: auto;
}

.ra-clickable {
    cursor: pointer;
}

.ra-text-small {
    font-size: 0.7rem;
}

div.ra-headingbar {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    margin-bottom: 10px;
}

div.ra-headingbar h3 {
    display: inline-block;
    margin-top: 5px;
}

div.ra-toolbar {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    margin-bottom: 20px;
}

div.ra-buttonbar {
    display: flex;
    flex-direction: row;
    gap: 6px;
}

div.ra-navbar {
    display: flex;
    flex-direction: row;
}

a.ra-navbar-item {
    background-color: red;
}

    a.ra-navbar-item:active {
        background-color: blue;
    }

div.ra-navbar-item-image img {
    width: 32px;
    height: 32px;
}

div.ra-navbar-item-text {
    
}

td.ra-tableview-badgecell div {
    text-wrap: nowrap;
}

td.ra-tableview-badgecell > div > div.badge {
    margin-top: 0px;
    margin-bottom: 3px;
}

    td.ra-tableview-badgecell > div > div.badge:not(:first-child) {
        margin-left: 8px;
    }

div.ra-tableview-monospace-cells table tbody tr td:not(.ra-tableview-badgecell) {
    font-family: var(--bs-font-monospace);
}

td.ra-tableview-monospace-cell {
    font-family: var(--bs-font-monospace);
}

button.ra-btn-img {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

    button.ra-btn-img svg {
        width: 28px;
        height: 28px;
        padding: 4px;
    }

    button.ra-btn-img span {
        padding-right: 4px;
        font-size: 0.85em;
    }

    button.ra-btn-img.dropdown-toggle {
        display: inline-flex;
        align-items: center;
        vertical-align: middle; /* helps with inline alignment */
        gap: 3px; /* Reduce gap between SVG and caret */
        padding-right: 4px;
    }

        button.ra-btn-img.dropdown-toggle svg {
            padding: 4px 0px 4px 4px;
        }

        button.ra-btn-img.dropdown-toggle::after {
            margin-left: 0px !important; /* or 0 for no gap */
        }

div.ra-buttonbar button.ra-btn-img svg {
    width: 22px;
    height: 22px;
    padding: 3px;
}

/* Override Blazored Modal defaults and set additional values. This 
   must be done here and cannot be done in CSS isolation.
*/
div.blazored-modal {
    background-color: var(--bs-body-bg) !important;
    border: 1px solid var(--bs-border-color) !important;
}

h3.bm-title {
}