@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Rapid App</h1>
    <p>Learn about <a href="https://github.com/orbital7/orbital7.rapidapp">building Web apps with Rapid App</a>.</p>
</div>
